.perspective-1000 {
  perspective: 1000px;
  transform-style: preserve-3d;
}

/* Adicione gradientes e overlays para melhorar o efeito */
.bg-gradient-dark {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.7)
  );
} 

.react-player {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.react-player video {
  object-fit: cover !important;
  width: 100% !important;
  height: 100% !important;
} 